@use './text-glow';

.languageButton {
  @extend .white-glow;
  @extend .button-glow;
  position: fixed;
  bottom: 0;
  width: 3.75rem;
  height: 3.75rem;
  align-items: center;
  margin: 1.25rem;
  padding-top: 0.5rem;
  cursor: pointer;
  user-select: none;
  z-index: 30;
}

input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

input[type="radio"]:checked + label {
  @extend .white-glow;
  opacity: 1;
}

input[type="radio"]:not(:checked) + label {
  @extend .blue-glow;
  opacity: 0.7;
}
