.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #e60073,
      0 0 40px #e60073,
      0 0 50px #e60073,
      0 0 60px #e60073,
      0 0 70px #e60073;
  }
  
  to {
    text-shadow: 
      0 0 15px #fff,
      0 0 25px #ff4da6,
      0 0 35px #ff4da6,
      0 0 45px #ff4da6,
      0 0 55px #ff4da6,
      0 0 65px #ff4da6,
      0 0 75px #ff4da6;
  }
}
