# config/services.yaml
parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $db_host: '%env(DB_HOST)%'
            $db_name: '%env(MYSQL_DATABASE)%'
            $db_user: '%env(MYSQL_USER)%'
            $db_password: '%env(MYSQL_PASSWORD)%'
        # -----------------------------------
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']