@import "tailwindcss";

@font-face {
  font-family: Aurebesh;
  src: url(./assets/Aurebesh.otf);
}

@font-face {
  font-family: Latin;
  src: url(./assets/pbio-bold.ttf);
  size-adjust: 70%;
}

:root {
  --turquoise: #59d9f1;
  --bleu-clair: #2873ce;
  --bleu-tres-clair: #bee2ff;
  --bleu-clair-transparent: #2873ce75;
  --rouge-clair: #ff3a3a;
  --rouge-tres-clair: #ffbebe;
}

body {
  font-family: Aurebesh;
}

body.latin-mode {
  font-family: Latin;
  letter-spacing: 2.2px;
}
